# Ignore node_modules
node_modules/

# Ignore build directories
build/
dist/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore Git files
.git/
.gitignore

# Ignore Docker Compose files
docker-compose*.yml

# Ignore any other unnecessary files
*.md
*.txt 